name: Get Iris Data

on:
  # Manually trigger through website
  workflow_dispatch:
  # Check daily
  schedule:
    - cron: "6 17 * * *"

permissions:
  contents: write

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Get Iris data
        run: |
          IRIS_URL='https://raw.githubusercontent.com/plotly/datasets/master/iris-data.csv'
          wget -O iris_dataset.csv $IRIS_URL
          rm data/iris_dataset.csv && mv iris_dataset.csv data/iris_dataset.csv
      - name: Commit synced records
        run: |
          git config --global user.name 'Brandon Monier'
          git config --global user.email 'btmonier@users.noreply.github.com'
          git add data
          git diff --staged --quiet || (git commit -m 'GitHub Actions test' && git push)
